<!DOCTYPE html>
<html>
<head>
  <title>AngularJS PTA Demo</title>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-base64/angular-base64.min.js"></script>

  <script src="angular-pta.js"></script>
</head>
<body ng-app="demoApp">

  <div ng-controller="mainController">
    <div ng-show="merchants[0]">
      <h1>Merchants</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>URI</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="merchant in merchants">
            <td>{{merchant.name.en}}</td>
            <td>{{merchant.uri}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="locations[0]">
      <h1>Locations</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="location in locations">
            <td>{{location.name.en}}</td>
            <td>{{location.city.en}}</td>
            <td>{{location.country}}</td>
            <td>{{location.zipcode}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="event">
      <h1>Order</h1>
      <dl>
        <dt><b>Event</b></dt>
          <dd>{{event.title.en}}, {{event.uri}}</dd>
        <dt ng-show="product"><b>Product</b></dt>
          <dd ng-show="product">{{product.name.en}}, {{product.availability}}, {{product.uri}}</dd>
        <dt ng-show="profile"><b>Profile</b></dt>
          <dd ng-show="profile">{{profile.first_name}}, {{profile.last_name}}, {{profile.email}}, {{profile.gender}}</dd>
        <dt ng-show="basket"><b>Basket</b></dt>
          <dd ng-show="basket">{{basket.created}}, {{basket.uri}}</dd>
        <dt ng-show="tickets[0]"><b>Tickets</b></dt>
          <dd ng-repeat="ticket in tickets">{{ticket.name.en}}, {{ticket.price.currency}} {{ticket.price.amount}}, {{ticket.uri}}</dd>
        <dt ng-show="order"><b>Order</b></dt>
          <dd ng-show="order">{{order.reference}}, {{order.total.currency}} {{order.total.amount}} {{order.state}}</dd>
          <dd ng-show="order">{{order.etickets}}</dd>
          <dd ng-show="order">{{order.uri}}</dd>
      </dl>
    </div>
  </div>


  <script type="text/javascript">
  (function() {
    "use strict";

    angular.module("demoApp", ["pta"])
      .controller("mainController", function($scope, paylogic) {

        /*
         * The following example demonstrates a complete buying process.
         *
         * We start by getting all events and we use one of them to buy tickets.
         */
        var events = paylogic.events.filter(function() {
          $scope.event = events[1];

          // Get the products for this event.
          var products = paylogic.products.filter({
            event__eq: $scope.event.uri
          }, function() {

            // Use one product to buy tickets for.
            $scope.product = products[0];

            // Create a profile.
            $scope.profile = paylogic.profiles.create({
              "country": "NL",
              "date_of_birth": "1976-05-24",
              "email": "unicorn@galaxy.com",
              "first_name": "Unicorn",
              "gender": 1,
              "last_name": "Melody"
            }, function() {

              // Now that we have a profile, we create a basket and we associate the profile with it.
              $scope.basket = paylogic.baskets.create({
                profile: $scope.profile.uri
              }, function() {

                // We create two tickets for this product and basket.
                var data = [{
                    basket: $scope.basket.uri,
                    product: $scope.product.uri
                  }, {
                    basket: $scope.basket.uri,
                    product: $scope.product.uri
                }];

                $scope.tickets = paylogic.tickets.createMany(data, function() {

                  // Get the quotes for this basket.
                  var quotes = paylogic.paymentmethods.quote({
                    basket: $scope.basket.uri
                  }, function() {

                    var quote = quotes[0];

                    // Finally create the order.
                    $scope.order = paylogic.orders.create({
                      basket: $scope.basket.uri,
                      paymentmethod: quote.paymentmethod
                    });

                  });

                });

              });

            });

          });

        });

        // Get a list of locations.
        $scope.locations =  paylogic.locations.filter();

        // Get a list of merchants.
        $scope.merchants = paylogic.merchants.filter();

      });

  }).call(this);
  </script>
</body>
</html>
